<div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let card of cards">
        <div class="card status-card">
            <div class="card-body">
                <h4 class="card-title user-card" *ngIf="card.applicationid">
                    Application #: {{card.applicationid}}
                </h4>
                <div class="progress" style="height:20px">
                    <div class="progress-bar bg-success" [ngStyle]="{width: card.pcnt_funded}"></div>
                </div>
                <br />
                <span *ngIf="card.application_funding" class='ownership-text'>
                    Funded: ${{card.application_currently_funded}} / ${{card.application_funding.funding_required | number}} ({{card.pcnt_funded}})
                    <!-- $130,000 / $200,000 Funded -->
                </span>
                <div *ngIf="card.application_funding.risk_score" class="risk-score">
                    <h5><span [ngClass]="card.application_funding.risk_category == 'LOW' ? 'badge bg-success' : card.application_funding.risk_category == 'VERY LOW' ? 'badge bg-success' : card.application_funding.risk_category == 'MODERATE' ? 'badge bg-caution' : 'badge bg-danger'">
                    Risk Score: {{card.application_funding.risk_score}} ({{card.application_funding.risk_category}})</span></h5>
                </div>
                <div>Rates: {{0.25+card.application_funding.risk_score}}% - {{0.75+card.application_funding.risk_score}}% APR</div>
                <div>Terms: 1 Year - 30 Years</div>
                <div>Offering Expires on: {{card.application_funding.formatted_funding_end}}</div>
                <div class='lend-button'><button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#appModal">LEND TO APPLICANT</button></div>
            </div>
            <app-modern-card [card]="card" [user]="user"></app-modern-card>
        </div>
    </div>
</div>
