<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="modal-title">Fill out this form with as much detail as possible.</h4>
            <div class="bullet-point">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M22 12L17 22L7.1 6.04L4.24 12H2L7 2L16.9 17.96L19.76 12H22Z" />
                </svg>
                If we have questions or need help with verification, we will ask. 
            </div>
            <div class="bullet-point">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M22 12L17 22L7.1 6.04L4.24 12H2L7 2L16.9 17.96L19.76 12H22Z" />
                </svg>
                The more accurate and detailed you are, the quicker we can give you a decision.
            </div>
        </div>
        <div class="col-12">
            <form #pledgeForm="ngForm">
                <div class="mb-3 mt-3">
                    <label for="personal_statement" class="form-label">Why should we invest in you? (500 words or less):</label>
                    <textarea class="form-control" id="personal_statement" required placeholder="Enter your personal statement." 
                    name="personal_statement" [(ngModel)]="application.personal_statement" style="resize: none; height: 150px;"></textarea>
                </div>
            </form>
        </div>
    </div>