.content-card {background-color: #E5EAFA; padding: 2em; border-radius: 5px;}
.content-row {margin-top: 3em;}
.contrast {color:#BF4E30;}
.action-card {padding: 2em; text-align:center; margin-top:1em;}
.ownership-text {font-size: 1.2em; line-height: 2em;}