<div class="container-fluid footer">
    <div class="row">
        <div class="col-12 col-md-3 logo-footer">
            <img class="logo" src="/assets/logo-footer.png" />
            <div class="ucf-fintech">Created as a FinTech Project at the University of Central Florida</div>
        </div>
        <div class="col-12 col-md-9">
            <div class="footer-content">
                Contact Us: Invest@DreamEstate.Money 
            <br />&copy; 2022 DreamEstate
            </div>
        </div>
    </div>
</div>
