<div class="container">
    <div class="row">
        <div class="col-12 form-row">
            <div class="alert alert-danger" *ngIf="user.errorMessage">
                <strong>Something went wrong!</strong> {{user.errorMessage}}
            </div>
            <form>
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" required placeholder="Email" name="email"
                    [(ngModel)]="user.email" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" required placeholder="Password" name="password"
                    [(ngModel)]="user.password" required>
                </div>
                <button class="btn btn-info" (click)="submitForm()">Login</button>
            </form>
        </div>
    </div>
</div>
