<div class="row">
    <div class="col-12" *ngIf="card">
        <div class="possibility-border-top"></div>
            <h4 class="next-header" *ngIf="card.titleId" id="{{card.titleId}}">
                {{card.title}}
            </h4>
            <h4 class="next-header" *ngIf="!card.titleId">
                {{card.title}}
            </h4>
            <p class="next-card-text">
                {{card.text}}
            </p>
            <a class="btn btn-info btn-lg card-btn" *ngIf="card.buttonText && card.buttonVar ==1" 
            [routerLink]="['/create-account', 1]">{{card.buttonText}}</a>
            <a class="btn btn-info btn-lg card-btn" *ngIf="card.buttonText && card.buttonVar ==2" 
            [routerLink]="['/create-account', 2]">{{card.buttonText}}</a>
            <app-create-account-form *ngIf="card.role_id" [roleid]="card.role_id"></app-create-account-form>
            <app-login-form *ngIf="card.loginForm"></app-login-form>
            <div style="clear:both;"></div>
        <div class="possibility-border-bottom"></div>
    </div>
</div>