<div class="row">
    <div class="col-12" *ngIf="card">
        <div class="possibility-border-top"></div>
            <h4 class="next-header">
                {{card.title}}
            </h4>
            <p class="next-card-text">
            {{card.text}}
            <a class="btn btn-info btn-lg card-btn" *ngIf="card.buttonText" 
            [routerLink]="['/create-account', 1]">{{card.buttonText}}</a>
            </p> 
            <app-create-account-form *ngIf="card.role_id" [roleid]="card.role_id"></app-create-account-form>
        <div class="possibility-border-bottom"></div>
    </div>
</div>