<app-hero></app-hero>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="main-content">
                <h3>How can DreamEstate help you?</h3>
                <p>DreamEstate helps renters purchase their very first home while also 
                helping investors earn APY on their own terms starting with as little as $100. 
                Let's start by getting you on the right path!</p>
                <a class='btn btn-lg btn-info' href="#owner">I'm interested in Owning a Home.</a>
                <a class='btn btn-lg btn-info' href="#lender">I'm interested in Lending.</a>  
            </div>
        </div> 
    </div>
</div>
<div class="container">
    <app-welcome-card [card]="ownerCard"></app-welcome-card>
    <app-welcome-card [card]="lenderCard"></app-welcome-card>
</div>
